<div class="page-header">
  <h3>Thing #<%= @thing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @thing.name %></dd>

      <dt>User</dt>
      <dd><%= @thing.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/things" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @thing.user %>
        <a href="/things/<%= @thing.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_thing/<%= @thing.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
